body{
	background-color: #FFF1F2;
}
p{
	font-weight: bold;
	font-size: x-large;
}
button{
	background-color:#FFCCD3;
	border-radius: 25px;
	border: 1px solid #555555;
}
button1{
	background-color:#FFCCD3;
	border-radius: 25px;
	border: 1px solid #555555;
	
}
button2{
	background-color:#FFCCD3;
	border-radius: 25px;
	border: 1px solid #555555;
	
}
button3{
	background-color:#FFCCD3;
	border-radius: 25px;
	border: 1px solid #555555;
	
}
button4{
	background-color:#FFCCD3;
	border-radius: 25px;
	border: 1px solid #555555;
	
}
button5{
	background-color:#FFCCD3;
	border-radius: 25px;
	border: 1px solid #555555;
}

.myImage{
      display: none;
  


      margin: 20px auto;
      max-width: 80%; 
      height: auto;
      border: 2px solid #ccc;
      border-radius: 8px;

    }